
.bgstyle{
    background: #562eff;
    width: 70%;
    color: white;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;    
   
}

.fab{
    color: white;
}
.navbar a{
    color: white !important;
}
.navbar-nav li a{
    color: white !important;
}
.navbar-nav li{
    padding-right: 20px;

}
/**-----------------section-1----------------------**/
.fullcont{
    background: rgb(209, 209, 209);
    width: 70%;
    margin: 0 auto;
    margin-top: 2%;
    
}
.title{
    margin-top: 10px !important;
}
.top-title::before{
    content: '';
    background: white;
    width: 100px;
    height: 15px;
   
}
.line{
    background: white;
    width: 100%;
    height: 2px;
    margin-top: 5%;
}